<div class="recommendation new">

  <h3 class="title">Prove Your Analytical Skill</h3>

  <div class="author">
    <div class="info">
      <%= link_to image_tag(current_user.profile.avatar.url(:normal).to_s, :class => "img-circle avatar"), current_user.profile %>
      <%= link_to current_user.name, current_user.profile %>
    </div>
    <div class="bubble">
    	<!-- , :html => {:class => "form-inline"} -->
      <%= form_for @recommendation do |f| %>
        <% if @recommendation.errors.any? %>
          <div id="error-explanation">
            <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>
            <ul>
            <% @recommendation.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="symbol-input">
          <%= f.text_field :symbol, class: "form-control", placeholder: "Symbol", autofocus: true %>
        </div>
        <div class="action-input">
          <%= f.select :action, [['Buy', :buy], ['Hold', :hold], ['Sell', :sell]], {:prompt => '-- Action --'}, {class: "form-control"} %>
        </div>
        <div class="term-input">
          <%= f.select :term, [['Week', :week], ['Month', :month], ['Quarter', :quarter]], {:prompt => '-- Term --'}, {class: "form-control"} %>
        </div>
        <div class="note-input">
          <%= f.text_area :note, class: "form-control", rows: 10, placeholder: "Write Some Note..." %>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          <span class="glyphicon glyphicon-ok-plus"></span>&nbsp;
          Create a Recommendation
        </button>
      <% end %>
    </div>
  </div>
</div>
