<div class="home">
  <% unless user_signed_in? %>
  <div class="slogan">
    Track & Share your invest idea.
    <%= link_to new_user_session_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-ok-circle"></span> Join or sign in today
    <% end %>
  </div>
  <% end %>

  <div class="recommendations" id="container">
  <% @recommendations.each do |recommendation| %>
    <div class="item grid-sizer">
      <%= link_to recommendation do %>
        <div class="bubble">
          <h4>
            <span class="label <%= ((recommendation.action == :buy) ? 'label-success' : (recommendation.action == :sell) ? 'label-danger' : 'label-warning')%>">
              <span class="<%= ((recommendation.action == :buy) ? 'glyphicon glyphicon-arrow-up' : (recommendation.action == :sell) ? 'glyphicon glyphicon-arrow-down' : '')%>"></span>
              <%= recommendation.symbol %>
            </span>
          </h4>
          <%= truncate(recommendation.note, length: 200) %>
        </div>
        <div class="author"><%= link_to recommendation.user.name, recommendation.user.profile %></div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
