<h1>Listing trades</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Action</th>
      <th>Shares</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.symbol %></td>
        <td><%= trade.action %></td>
        <td><%= trade.shares %></td>
        <td><%= trade.price %></td>
        <td>
          <%= link_to 'Show', trade %>
          <%= link_to 'Edit', edit_trade_path(trade) %>
          <!-- <%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade', new_trade_path %>
