<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= favicon_link_tag "logo_tiny.ico" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <meta name="keywords" content="<%= meta_keywords %>" />
  <meta name="description" content="<%= meta_description %>" />
</head>
<body>
<div id="wrap">
  <%= render partial: "shared/navbar" %>

  <div class="container">
    <% flash.each do |type, messsage| %>
      <div class="alert <%= bootstrap_type(type) %> alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= messsage %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</div>  <!-- id="wrap" -->

<footer>
  <div class="container">
    YK Studio 2014<br>
    <span class='symbol'>circlefacebook</span>
    <span class='symbol'>circlegoogleplus</span>
    <span class='symbol'>circletwitterbird</span>
  </div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->



</body>
</html>
